{% extends 'base2.html.twig' %}

{% block body %}
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <h1>Panne creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        
    {{ form_end(form) }}
{% endblock %}