{% extends 'base2.html.twig' %}
{% block title %}List{% endblock %}
{% block name %}Resultat de la recherche{% endblock %}
{% block body %}
   <table class="table table-striped">
  <thead>

    <tr>
      <th scope="col">status</th>
    
    </tr>
  </thead>
  <tbody>
   
    <tr>
      <th scope="row">{{ stat }}</th>

     
    </tr>
  
 </tbody>
 
</table>
    
  
{% endblock %}
